<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Disponibilidad de Profesionales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-item-group *ngFor="let group of (horarios | groupBy: 'cal_dia')">
    <ion-item-divider color="primary">
        {{ group.key }}
    </ion-item-divider>
    <ion-item *ngFor="let horario of group.list" (click)="modificar(group.key, horario.pro_nombre, horario.cal_id )">{{ horario.pro_nombre }}</ion-item>
  </ion-item-group><!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="alta()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
